<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Links that mean business!</h1>
          <p>Create and share trusted, powerful short links </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up for Free Today</a></p>
        </div>
      </div>

      <section>
          <div class="container">
            <h1 style="text-align: center">Get the edge you need with links you can trust</h1>
            <h6 style="text-align: center">URLShortener helps you maximize the impact of every digital initiative with industry-leading features and tools.</h6>
            <div class="row">
                    <div class="col-md-4">
                        <div class="icon"><img src="../../assets/icon-like.png"></div>
                        <h3 class="aligncenter">Easy</h3>
                        <p class="aligncenter">ShortURL is easy and fast, enter the long link to get your shortened link</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon"><img src="../../assets/icon-url.png"></div>
                        <h3 class="aligncenter">Shortened</h3>
                        <p class="aligncenter">Use any link, no matter what size, ShortURL always shortens</p>
                    </div>
                   
                    <div class="col-md-4">
                        <div class="icon"><img src="../../assets/icon-responsive.png"></div>
                        <h3 class="aligncenter">Devices</h3>
                        <p class="aligncenter">Compatible with smartphones, tablets and desktop</p>
                    </div>
                    </div>
                </div>
      </section>
      <section style="margin-bottom: 2em">
        <div class="bg-dark"  style="display: flex;
        justify-content: center;
        align-items: center;height: 6em;">
            <h1 style="color: white;display: flex;
            justify-content: center;
            align-items: center;">Start sharing powerful links</h1><br/>
          
        </div>
        <div class="bg-dark"  style="display: flex;
        justify-content: center;
        align-items: center;">
            
            <p><a class="btn btn-primary btn-lg" href="#" role="button" style="display: flex;
                justify-content: center;
                align-items: center;">Get Started</a></p>
        </div>
      </section>